<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotionSecretKey</key>
	<string>secret_JoL2mbdes95THHhuUXUeaE29VeRr6wktvWkEusxCiOk</string>
	<key>MatchListBlockID</key>
	<string>978fe6f3-4ca4-441b-832f-d0a7228bd643</string>
</dict>
</plist>
